@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:400,900");

* {
  margin: 0;
  padding: 0;
}

a,
a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

:root {
  height: 100%;
  --baseClr: #00ce0f;
  --altClr: #00ab5a;
}

.padding {
  padding: 2em !important;
}

/* Navigation */
.navbar {
  padding: 0;
  background: #fff;
  border-bottom: 1px solid #eee;
}

.navbar .navbar-brand,
.navbar .navbar-brand:hover {
  font-size: 1.8em;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}

.navbar .navbar-brand > img {
  height: 30px;
  width: 30px;
}

.navbar .navbar-brand > span {
  margin-left: 0.5em;
}

/* Homepage  */

.home .padding {
  padding-top: 1em !important;
  display: flex;
  flex-direction: column;
}

.home .home-timer {
  grid-column: 1/5;
  grid-row: 1/2;
  height: 55vh;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.home .home-timer-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(75, 75, 75, 0.5);
  padding: 3em 2em;
}

.home .home-timer-overlay .subtitle {
  font-size: 1.5em;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 2em;
  font-family: "Lato", sans-serif;
}

/* Next Event timer */

.home .home-timer-overlay .event-timer {
  width: 100%;
  height: fit-content;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 0 1em;
}

.home .event-timer .event-timer-countdown {
  width: 100%;
  height: fit-content;
  color: #fff;
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.home .event-timer-countdown .countdown-item {
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.home .countdown-item .countdown-item-figures {
  font-family: "Montserrat", sans-serif;
  font-size: 4em;
}

.home .countdown-item .countdown-item-captions {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 1.5em;
}

/* Intro Message */
.home-content {
  padding-top: 2em;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.home .home-content h2{
  font-size: 1.5em;
  line-height: 2;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom:  2em;
}
.home .home-message {
  width: 70vw;
}

/* Auth Component */

.home .home-form {
  width: 20vw;
}
.Auth {
  width: 100%;
  height: 50vh;
  box-shadow: 0 0 6px #aaa;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out 0.5s;
}

.Auth:hover {
  transform: perspective(2000px) translateZ(100px);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.Auth #signInForm,
.Auth #signUpForm {
  margin: auto;
  position: absolute;
  top: 2em;
  transition: all ease-in-out 1s;
}
.Auth #form-switch {
  display: none;
}
.Auth label,
.Auth p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: 100%;
  color: var(--altClr);
  font-family: "Lato", sans-serif;
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
}
.Auth #signInForm {
  display: none;
}
.Auth #form-switch:checked ~ #signInForm {
  display: block;
}
.Auth #form-switch:checked ~ #signUpForm {
  display: none;
}

/* Events */
.section-heading {
  padding: 0.2em 0;
  font-size: 1.2em;
  font-family: "Lato", sans-serif;
}

.events-grid {
  margin: 1em 0;
  display: grid;
  grid-template-columns: 1fr 20vw;
  grid-gap: 2em;
}

.events-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
}

.events-list .events-item {
  height: 30vh;
  padding-right: 1em;
  box-shadow: 0 0 6px #eee;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "item-img item-heading" "item-img item-content";
  grid-column-gap: 1em;
  align-items: center;
}

.events-item .events-item-image {
  grid-area: item-img;
  height: 100%;
  background: #444;
}

.events-item .events-item-heading {
  grid-area: item-heading;
  padding-top: 1em;
  border-bottom: 2px solid #202020;
}
.events-item .events-item-heading h3 {
  font-size: 1.2em;
  line-height: 2;
  text-align: right;
  color: #202020;
  font-weight: 800;
}
.events-item .events-item-content {
  grid-area: item-content;
  color: #202020;
}

.events-item .events-item-content a {
  color: var(--baseClr);
}

.events-new {
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
#addEvent {
  width: 100%;
  height: fit-content;
  box-shadow: 0 0 6px #eee;
  padding: 1em;
}
#addEvent .image-drop {
  width: 100%;
  height: auto;
  border: 1px dashed #ccc;
  padding: 2em;
}
#addEvent .input-custom input {
  display: block;
  width: 100%;
  padding: 0.75rem 2rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #55595c;
  background-color: #f7f7f9;
  background-clip: padding-box;
  border: 0 solid #ced4da;
  border-radius: 0;
}

@media screen and (max-width: 500px) {
  padding {
    padding: 1.5em !important;
  }
  .navbar .navbar-brand,
  .navbar .navbar-brand:hover {
    font-size: 1.5em;
  }
  .home .home-timer {
    height: 50vh;
  }

  .home .home-timer-overlay {
    padding: 0.9em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .home .home-timer-overlay .subtitle {
    font-size: 1.2em;
  }

  .home .countdown-item .countdown-item-figures {
    font-size: 2em;
  }

  .home .countdown-item .countdown-item-captions {
    font-size: 1em;
  }

  .home-content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }  
  .home .home-content .home-message{
    margin-bottom: 2em;
    width:100%;
    font-size: .9em;
  }
  .home .home-content .home-message>h2{
    width:100%;
    font-size: 1.5em;
    font-family: "Lato", sans-serif;
  }  

  .home-content .home-form{
    margin-top: 2em;
    width: 100%;
  }
  .home-content .home-form .Auth {
    width: 100%;
    height: 52vh;
  }
    
  .Auth #signInForm,
  .Auth #signUpForm {
    top: 0;  
    padding: 2em;
    width:100%;
    height: fit-content;
  }

}
